@import 'utils/utils';

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: map-get($colors, light) no-repeat bottom left;
  background-image: url('https://as1.ftcdn.net/jpg/02/39/90/20/500_F_239902089_8S9Jpog76Kcj0Wjip0LfALi8MLDZoKjn.jpg');
  animation: fade-in 0.1s;
}

.appLogo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
}
// Background url to Adobe Stock
// https://stock.adobe.com/pl/images/girl-and-her-checklist/239902089?prev_url=detail
