@import 'utils/utils';

.wrapper {
  position: fixed;
  z-index: 400;
  top: 5rem;
  bottom: 1rem;
  right: 50%;
  width: 100%;
  padding: 0 1rem;
  max-width: 500px;
  transform: translateX(50%);
  transform-origin: 100% 100%;
  animation: add-task-modal-fade-in-mobile 0.3s map-get($easings, primary);

  @include breakpoint-up(desktop) {
    top: 6rem;
    bottom: 6rem;
    right: 10rem;
    transform: none;
    animation: add-task-modal-fade-in-desktop 0.3s map-get($easings, primary);
  }
}

.form {
  position: relative;
  margin-top: 1rem;
  background-color: map-get($colors, white);
  border-radius: map-get($radius, normal);

  @extend %shadow-100;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.content {
  padding: 3rem;
  height: 87vh;
  overflow-y: scroll;
}

.doubleField {
  @include breakpoint-up(tablet) {
    display: flex;
    align-items: center;
  }
}

.doubleFieldItem {
  margin-bottom: 1rem;
  width: 100%;

  @include breakpoint-up(tablet) {
    margin: 0 1rem 0 0;
    flex: 1;
  }
}

.radioButtons {
  text-align: center;
}

@keyframes add-task-modal-fade-in-mobile {
  0% {
    opacity: 0;
    transform: translateX(50%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateX(50%) scale(1);
  }
}

@keyframes add-task-modal-fade-in-desktop {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
