@import 'utils/utils';

.priorityFlag {
  transition: opacity 0.2s map-get($easings, primary);

  &.low {
    fill: map-get($colors, priority-low);
  }

  &.normal {
    fill: map-get($colors, priority-normal);
  }

  &.high {
    fill: map-get($colors, priority-high);
  }

  &.notActive {
    opacity: 0.6;
  }

  &:hover {
    opacity: 1;
  }
}
