@import 'utils/utils';

.wrapper {
  &.activeTab {
    .btnWrap {
      background-color: rgba(map-get($colors, tertiary), 0.3);
    }
  }

  .btnWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    border-radius: 0 2.5rem 2.5rem 0;
    transition: background-color 0.3s map-get($easings, primary);

    &:hover {
      background-color: rgba(map-get($colors, tertiary), 0.3);
    }
  }

  .btn {
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    background: transparent;
  }

  .editBtn {
    margin: 0 1rem 0 auto;
  }

  .content {
    padding: 0 2rem;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s map-get($easings, primary), opacity 0.3s map-get($easings, primary);
  }

  &.isActive {
    .content {
      opacity: 1;
    }
  }

  .contentInner {
    padding-top: 5px;
  }
}
