@import 'utils/utils';

// Custom Button styles

.react-datepicker {
  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

// External classes override

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}

// Change input styles
.react-datepicker__input-container input {
  padding: 1rem;
  border: 1px solid map-get($colors, secondary);
  border-radius: map-get($radius, normal);

  &:focus {
    border: 1px solid map-get($colors, accent);
  }
}

// Change DatePicker selectors color
$dp-day-selector: '.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range .react-datepicker__day--in-range, .react-datepicker__month-text--selected,.react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range,.react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range,';

$dp-time-selector: '.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected,';

$dp-icon-selector: '.react-datepicker__close-icon::after';

#{$dp-day-selector} #{$dp-time-selector} #{$dp-icon-selector} {
  background-color: map-get($colors, accent);
  transition: background-color 0.3s map-get($easings, accent);

  &:hover {
    background-color: rgba(map-get($colors, accent), 0.8);
  }
}
