@import 'utils/utils';

.picker {
  position: relative;
  display: inline-block;

  &__pallete {
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 20;
    min-width: 220px;
    padding: 1.2rem 1rem;
    background-color: map-get($colors, white);
    border-radius: map-get($radius, normal);
    animation: fade-in 0.2s map-get($easings, primary);

    @extend %shadow-100;

    &--rtl {
      left: auto;
      right: 0;
    }
  }
}
