@import 'utils/utils';

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: map-get($colors, white);
  border-radius: map-get($radius, normal);
  will-change: opacity, transform;
  animation: fade-in-and-scale .2s map-get($easings, primary);
  z-index: 20000;

  @extend %shadow-100;
}

.inner {
  padding: 3rem 2rem;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: transparent;
}

.heading {
    margin-bottom: 1rem;
}

.actionButtons {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
}

// NOTE for scss refactor in the future
// This animation should replace other animations which are standard and always centered
@keyframes fade-in-and-scale {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
  
    100% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  