@import 'utils/utils';

.form {
  position: relative;
  padding: 2rem 1rem 1rem 1rem;
}

.closeBtn {
  position: absolute;
  top: -2rem;
  right: -2rem;
}

.addLabelBtnWrap {
  margin-top: 1rem;
  text-align: center;
}

.label {
  margin-bottom: 1rem;
}
