@import 'utils/utils';

.box {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;

  @include breakpoint-up(tablet) {
    flex-direction: row;
  }

  &--center {
    @include breakpoint-up(tablet) {
      justify-content: center;
    }
  }

  &--space-between {
    justify-content: space-between;
  }
}
