@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// @import '~normalize.css';
@import 'utils/utils';

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

fieldset {
  border: none;
}

button:focus,
a:focus,
input:focus {
  outline: none;
}

input,
select {
  border: 1px solid map-get($colors, secondary);
  color: map-get($colors, dark);
  outline: none;

  &:focus {
    border: 1px solid map-get($colors, accent);
  }

  &::placeholder {
    color: map-get($colors, dark-300);
  }
}

html {
  font-size: 62.5%;
  font-weight: 400;
  color: map-get($colors, dark);
  // background-color: map-get($colors, primary);
}

body {
  min-height: 100vh;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
}

a {
  &:link,
  &:visited,
  &:active,
  &:hover {
    text-decoration: none;
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
// Headings
h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

// Form elements

// Lists

ul,
ol {
  list-style: none;
  padding-left: 0;
}
